extends /layouts/main.pug

block variables
    - pagename = 'Product';

block content
    section.content.single-product
        header.breadcrumbs
            .container
                h1.h1.breadcrumbs__title Moschino cheap and chic
                ul.breadcrumbs_breadcrumb
                    li
                        a(href='index.html') Home
                    li
                        a(href='products.html') Man
                    li
                        | Moschino cheap and chic

        .single-product__slider
            img(src='img/product-image-big.jpg' alt='Product image')
            .slider__arrows
                a(href='#').slider__arrow
                    i.fa.fa-chevron-left
                a(href='#').slider__arrow
                    i.fa.fa-chevron-right

        article.container.single-product__article
            .single-product__main
                .single-product__container
                    a(href='products.html').single-product__category Women collection
                    h2.single-product__title Moschino cheap and chic
                    .single-product__description
                        | Compellingly actualize fully researched processes before proactive outsourcing. Progressively syndicate collaborative architectures before cutting-edge services. Completely visualize parallel core competencies rather than exceptional portals.
                    ul.single-product__attrs
                        li MATERIAL:
                            a(href='#') COTTON
                        li DESIGNER:
                            a(href='#') BINBURHAN
                    .single-product__cost $561

                    hr

                    form.single-product__form
                        ul.single-product__selectors.selectors
                            li.selectors-item
                                .selectors-item__title CHOOSE COLOR
                                .select.select-dropdown
                                    i.fa.fa-stop.color-red
                                    | Red
                                    ul.options
                                        li
                                            i.fa.fa-stop.color-red
                                            | Red
                                        li
                                            i.fa.fa-stop.color-green
                                            | Green
                                        li
                                            i.fa.fa-stop.color-blue
                                            | Blue
                                        li
                                            i.fa.fa-stop.color-pink
                                            | Pink

                            li.selectors-item
                                .selectors-item__title CHOOSE SIZE
                                .select.select-dropdown XXL
                                    ul.options
                                        li XXL
                                        li XL
                                        li M
                                        li S
                            li.selectors-item
                                .selectors-item__title QUANTITY
                                input(type='number' value='1').select
                        button(type='submit').single-product__add2cart.button-second.button-second--pink Add to Cart

    section.single-product__featured.featured-items.container
        h2.featured-items__title You may like also
        .featured-items__products-list.products-list.products-list--featured
            +catalog(4)